.panel.right(ng-class="{ 'full': showFullChat }")
    #chat
        table.table
            tr.animated.fadeIn(ng-repeat="message in selectedChat.messages")
                //- avatar for remote party
                td: div(ng-if="message.from._id !== account._id")
                    .well(ng-bind-html="trustAsHtml(marked(emo(message.content)))")
                    small {{ message.from.display }}

                //- avatar for logged in user
                td: div.align-right(ng-if="message.from._id === account._id")
                    .well.align-left(ng-bind-html="trustAsHtml(marked(emo(message.content)))")
                    small {{ message.from.display }}

    textarea.form-control(
        ng-model="textInput"
        placeholder="Text input"
        ap-enter="sendMessage(textInput); textInput = '';"
        ng-show="selectedChat"
    )

