.container
    .row
        .col-sm-6
            h3 Login

            input.form-control(type="text" placeholder="Username or email" ng-model="login._id")
            br
            input.form-control(type="password" placeholder="Password" ng-model="login.password")
            br

            button.btn.btn-primary(ng-click="signIn()") Sign In
            br
            .alert.alert-danger(ng-show="errorLogin") {{ errorLogin }}
        .col-sm-6
            h3 Register
            input.form-control(type="text" placeholder="Username" ng-model="register._id")
            br
            input.form-control(type="email" placeholder="Email" ng-model="register.email")
            br
            input.form-control(type="password" placeholder="Password" ng-model="register.password")
            br

            button.btn.btn-success(ng-click="register()") Register
            br
            .alert.alert-danger(ng-show="errorRegister") {{ errorRegister }}
