if(config.google.enabled)
    br    
    h6 with Google
    a.passport-btn.btn.btn-salmon-inverse(
        href="/auth/google"
        ng-disabled="googleClicked"
        ng-click="googleClicked = true"): i.fa.fa-google.fa-2x
    br
    br
    br
if(config.localLoginEnabled)
    h6 with  
        =config.name
        |  account
    br

    input.form-control(
        type="text" placeholder="email or username" ng-model="signin.email" ap-enter="login()"
        autofocus
    )
    br
    input.form-control(type="password" placeholder="password" ng-model="signin.password" ap-enter="login()")
    br
    button.btn.btn-salmon-inverse(ng-click="login()") Sign In
    br
    br
    button.btn.btn-xs.btn-default(href="javascript:void(0)" ng-click="forgot(signin.email)") I forgot my password

br
