.container-fluid
    h1.center Apollo
    br
    .row
        .col-sm-6
            h3.center Sign In
            input.form-control(type="text" placeholder="username or email" ng-model="signin.email")
            br
            input.form-control(type="password" placeholder="password" ng-model="signin.password")
            br
            button.btn.btn-primary(ng-click="login()") Sign In
            a.pull-right(href="javascript:void(0)" ng-click="forgot()") Forgot password
            
            br
        .col-sm-6
            h3.center Register
            input.form-control(type="text" placeholder="username" ng-model="signup._id")
            br
            input.form-control(type="text" placeholder="display name" ng-model="signup.display")
            br
            input.form-control(type="text" placeholder="email" ng-model="signup.email")
            br
            input.form-control(type="password" placeholder="password" ng-model="signup.password")
            br
            button.btn.btn-success(ng-click="register()") Create Account
            br

