ul.mention-list.list-group
    li.list-group-item(mentio-menu-item="item" ng-repeat="item in items")
        span(
            ng-bind-html="item.display | unsafe"
        )
        |  {{ item.name }}
        em   {{ item._id }}
