.main(ng-controller="MainController")
    p.navbar-text.animated.fadeInRightBig(ng-show="!selectedChat && !showSettings") 
        | Select a person or group to join the conversation

    include recents.jade
    include chat.jade
