.panel.left(ng-class="{ 'full': showFullChat }")
    input.form-control(type="text" placeholder="Search for friends and conversations")
    button.btn.btn-default.btn-block.btn-sm() Create a new group +
