.panel.left(ng-class="{ 'full': showFullChat }")
    input.form-control(type="text" placeholder="Search for friends and conversations")
    button.btn.btn-default.btn-block.btn-sm() Create a new group +
    table.table
        tr(ng-repeat="(id, item) in recents" ng-if="id !== account._id")
            td.col-xs-3
                i.fa.fa-group.fa-3x(ng-if="!item.email")
                img.img-responsive(ng-if="item.email" ng-src="{{ gravatar(item.email) }}")
            td
                h6 {{ item.display || item._id }}
