h3 Register
input.form-control(type="text" placeholder="username" ng-model="signup._id")
br
input.form-control(type="text" placeholder="display name" ng-model="signup.display")
br
input.form-control(type="text" placeholder="email" ng-model="signup.email")
br
input.form-control(type="password" placeholder="password" ng-model="signup.password")
br
button.btn.btn-salmon-inverse(ng-click="register()") Create Account
br
