.container-fluid: .animated.fadeIn(ng-class="{ 'fadeOut': justLoggedIn }")
    br
    h3.align-center 
        img(
            src="/img/apollo-a.png"
            height="100px"
            width="100px"
        )
        br
        br
        | Apollo
    br
        

    //- When passport authorization fails, it will redirect here with a querystring message.
    .alert.alert-warning(ng-show="authFailureMessage") {{ authFailureMessage }}
        button.close(data-dismiss="alert")
            i.fa.fa-remove
    
    br
    .row: .col-sm-6.col-sm-offset-3
        h3 Sign in
        include login
    
        if(config.localSignupEnabled)
            br
            include register
