.container-fluid: .animated.fadeInUp(ng-class="{ 'fadeOutUp': justLoggedIn }")
    h1.align-center= "Sign in to " + config.name

    //- When passport authorization fails, it will redirect here with a querystring message.
    .alert.alert-warning(ng-show="authFailureMessage") {{ authFailureMessage }}
        button.close(data-dismiss="alert")
            i.fa.fa-remove
    
    br
    .row
        if(!config.localSignupEnabled)
            .col-sm-6.col-sm-offset-3
                include login
        else
            .col-sm-6
                include login

        if(config.localSignupEnabled)
            .col-sm-6
                include register
