extends layout

block content
    #video-call-container(ng-controller="PrivateCallController")
        h3#chat-title
            | {{ selectedChat._id ? selectedChat.display : "Waiting for someone to join..." }}
        .alert.alert-warning(ng-show="errorMessage" ng-cloak) {{ errorMessage }}
            br
            a(href="/private") Start a new private call

        #respokeLocalVideo(ap-draggable)
        #respokeRemoteVideo(ap-draggable)

        include partials/chat

