extends layout

block content
    #video-call-container(ng-controller="PrivateCallController")
        h3#chat-title(ng-show="errorMessage") {{ errorMessage }}

        #respokeLocalVideo(ap-draggable)
        #respokeRemoteVideo(ap-draggable)

        div(ng-show="activeCall")
            include partials/chat

        #video-call-controls(ng-show="activeCall")
            button.btn.btn-danger(ng-click="hangup()"): i.fa.fa-phone.fa-rotate-135
