extends layout

block content
    .container.on-top.relative
        h1=title
        br
        h4=message
        br
        br
        h3: a(href="/") Awesome.

append js
    script.
        window.pixies.start();
