doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular-route.min.js")
    script(src="https://cdn.respoke.io/respoke-v1.7.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")
    script(src="/js/apollo.js")
  body#container(ng-app="apollo" ng-controller="GlobalController")
    canvas#pixie
    .notifications(ng-cloak)
        .alert.alert-info(
            ng-repeat="notif in notifications track by $index"
            ng-class="{{ notif.class || '' }}"
        )
            button.close(data-dismiss="alert" ng-click="notifications.splice($index, 1)")
                i.fa.fa-remove
            | {{ notif.message || notif.error || notif }}
    
    block content

    br
    br
    br


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="/js/pixie.js")
