@import 'colors.less';
@import 'cyborg.less';
@import 'animate.less';

.translationReset () {
    -webkit-transform: translate(0%,0px);
    -moz-transform: translate(0%,0px);
    -ms-transform: translate(0%,0px);
    -o-transform: translate(0%,0px);
    transform: translate(0%,0px);
}
.infinite {
    animation-iteration-count: infinite;
}
.middle {
    vertical-align: middle;
}
.lightweight {
    font-weight: 100;
}
.clickable {
    cursor: pointer;
}
.scrollable {
    overflow-y: auto;
    height: 100%;
    padding-bottom: 150px;
}
.img-thumbnail {
    padding: 0;
    border: 0;
}
.btn-salmon {
    background: white;
    color: @salmon!important;
}
.btn-salmon-inverse {
    background: @salmon;
    color: white;
    &:hover {
        color: white;
    }
}
.fa.fa-rotate-45 {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.fa.fa-rotate-135 {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.slowly {
    -moz-animation-duration: 8s;
    -webkit-animation-duration: 8s;
    -o-animation-duration: 8s;
    animation-duration: 8s;
}
.slower {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
}
.faster {
    -moz-animation-duration: .3s;
    -webkit-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.absolute {
    display: absolute;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 100;
    .panelGradient();
    z-index: -200;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    -webkit-font-smoothing: antialiased;
}
input[type="text"].form-control,
input[type="password"].form-control,
textarea.form-control {
    border-radius: 0;
}
#apollo {
    z-index: 70;
}
#container {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    canvas#pixie {
        z-index: 0;
        height: 100%;
        width: 100%;
    }
}
.notifications {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    opacity: .9;
    z-index: 10000;
}

#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    &.full {
        left: 270px;
    }
}
.main {
    z-index: 70;
}
.on-top {
    z-index: 10000!important;
}
.relative {
    position: relative;
}
.panel {
    .translationReset();
    position: fixed;

    border-radius: 0;
    border: 0;
    margin: 0;

    top: 0;
    bottom: 0;

    h1, h2, h3, h4, h5, h6, p, span {
        padding: 0px 10px;
    }

    &.left {
        left: 0;
        background-color: @medBaseGray;
        width: 200px;
        &.full {
            width: 270px;
        }
    }
    &.right {
        right: 0;
        .textarea-container {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 13px 11px 8px 54px;
            background: @plainTransGray;

            .chatstate {
                position: absolute;
                top: -14px;
                left: 30px;
                img {
                    float: left;
                    margin-right: 6px;
                    width: 24px;
                    height: 24px;
                }
            }
            /* The next two elements are mashed together. */
            button#upload-button {
                position: fixed;
                margin-left: -41px!important;
                width: 40px;
                height: 52px;
                margin: 0;
                border-radius: 8px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            textarea {
                resize: none;
                border: 1px inset white;
                border-radius: 8px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                padding: 8px 10px 8px 18px;
                width: 100%;
                height: 52px;
                font-size: 12px;
                color: @textInput;
                font-weight: 600;
            }
        }
        &.full {
            background: transparent;
            left: 270px;
        }

        #chat-header {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;

            table.table {
                margin: 0;
                background: rgba(0, 0, 0, .05);
                td {
                    background: rgba(0, 0, 0, .05);
                    padding-bottom: 8px;
                    height: 70px;
                    font-weight: 400;
                    vertical-align: middle;
                }
                tr.notify>td {
                    background: @salmon;
                }

                td:first-child {
                    padding-left: 13px;
                    padding-right: 0;
                    width: 62px;
                    img, i.fa {
                        width: 40px;
                    }
                    img {
                        border-radius: 5px;
                        height: 40px;
                    }
                    i.fa {
                        margin-left: 2px;
                    }
                }
                td:nth-child(2) {
                    padding-left: 10px;
                }
                td:nth-child(3) {
                    width: 135px;
                    padding-right: 12px;
                    text-align: right;
                }

                #audio-call-controls {
                    span {
                        margin: 0;
                        padding: 0;
                    }
                    ap-audioviz {
                        canvas {

                        }
                    }
                }

            }
        }

        #chat {
            position: fixed;
            display: block;
            width: 100%;
            top: 0;
            right: 2px;
            bottom: 76px;
            &.no-bottom {
                bottom: 0;
            }
            left: 0;
            overflow-y: auto;
            margin-top: 70px;

            #settings {
                color: #fff;
                overflow-x: hidden;

                div.col-xs-*>p {
                    display: block;
                    vertical-align: middle;
                }

                ap-toggle-setting>.btn {
                    transition: all .2s ease-in-out;
                    width: 40px;
                    height: 40px;
                    font-size: 24px;
                    padding: 0 8px;
                    margin-left: -6px;
                }
            }

            /* Chat table */
            table.table {
                background: transparent;

                tr, td {
                    border: none;
                    padding-top: 10px;
                    padding-bottom: 0;
                }
                td:first-child {
                    padding-left: 13px;
                    padding-right: 0;
                    width: 62px;
                    img {
                        width: 40px;
                    }
                }
                td:nth-child(2) {
                    padding-left: 0;
                    font-weight: 400;
                    word-break: break-word;

                    /* message from text */
                    h6 {
                        margin-top: 13px;
                        margin-bottom: 10;
                        font-size: 14px;
                        font-weight: bold;
                        color: @fadedText;
                    }

                    ap-message .message {
                        margin-top: 0;

                        p {
                            margin-bottom: 0;
                        }

                        pre {
                            margin-left: 10px;
                        }
                        font-size: 14px;

                        .mentioned {
                            margin: 0;
                            padding: 0;
                            color: @salmon;
                            font-weight: bold;

                            &.me {
                                text-style: oblique;
                            }
                        }

                        img, video, audio {
                            max-width: 100%;
                            max-height: 200px;
                        }
                    }

                }
                td:nth-child(3) {
                    width: 100px;
                }
                span.chat-date {
                    font-size: 10px;
                    font-weight: 400;
                    padding-right: 6px;
                    .textGradient();
                }
            }
        }
    }
}

.passport-btn {
    padding: 21px 21px 13px 21px;
}

#btn-settings {
    position: fixed;
    transition: all 0.4s ease;
    top: 42px;
    right: 20px;
}
#btn-settings.settings-visible {
    top: 0px;
    right: 0px;
    padding: 8px 14px;
    font-size: 20px;
    border-color: transparent;
    .panelGradient();
}

#buddies {
    .btn {
        border-radius: 0;
    }

    table.table {
        background: transparent;

        thead {
            position: fixed;
            background: rgb(45, 51, 58);
        }

        tr, td {
            border: none;
            height: 56px;
        }

        #newgroup {
            border-radius: 0;
            font-weight: 100;
        }

        #recents-query {
            background: rgba(255, 255, 255, .05);
            border: 0;
            margin-bottom: 1px;
            padding-left: 8px;
            transition: background .3s ease;
            &:hover {
                background: rgba(0, 0, 0, .25);
            }
            &:focus {
                background: white;
            }
        }
        #new-group-input {
            border-radius: 0;
        }

        tr.selectedRecent {
            background: @highlightGray;
            color: @salmon;
            td:nth-child(3) h6 {
                color: @salmon;
            }
        }
        tr>td:first-child {
            padding-left: 5px;
            vertical-align: middle;
            img {
                width: 40px;
                height: 40px;
                border-radius: 5px;
            }
        }
        tr>td:nth-child(2) {
            ap-presence .presence {
                padding: 0 4px;
                i.fa-circle {
                    font-size: 10px;
                    vertical-align: middle;
                }
            }
            .dropdown {
                li>a {
                    font-size: 12px;
                    color: @text;
                }
            }
        }
        tr>td:nth-child(3) {
            h6 {
                padding: 0;
                margin: 0;
                font-size: 12px;
                font-weight: bold;
                margin-top: 4px;
            }
            small.date {
                color: @fadedText;
            }
        }
    }
}

#video-call-container {
    #chat-title {
        padding-left: 20px;
        opacity: .4;
        z-index: 75;
    }
    .panel.right.full {
        right: 0;
        left: auto;
        width: 300px;
    }
    #chat {
        background: rgba(0, 0, 0, .1);
        margin-top: 0;
    }
    #chat-table {
        td {
            display: block;
            float: left;
        }
    }
    #video-call-controls {
        position: fixed;
        left: 20px;
        bottom: 20px;
        z-index: 200;

        button#toggle-audio {
            width: 45px;
        }

        button#toggle-video {
            width: 46px;

            &.btn-default {
                .fa-video-camera {
                    position: absolute;
                    right: 3px;
                    top: 2px;
                }
                .fa-ban {
                    margin-left: -10px;
                }
            }
        }
    }
    #respokeLocalVideo, #respokeRemoteVideo {

    }
    #respokeLocalVideo {
        position: fixed;
        left: 0;
        top: 0;
        width: 200px;
        min-height: 110px;
        z-index: 100;

        .btn-group {
            position: absolute;
            left: 5px;
            bottom: 5px;
        }

        video {
            height: 100%;
            width: 100%;
        }
    }
    #respokeRemoteVideo {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
        video {
            height: 100%;
            width: 100%;
        }
    }
}

table a:not(.btn), .table a:not(.btn) {
    color: @yellow;
    text-decoration: none !important;
}

#not-connected {
    .btn {
        opacity: .3;
        position: fixed;
        left: 20px;
        bottom: 20px;
        &:hover {
            opacity: 1;
        }
    }
}

#mentions, #macros {
    ul.mention-list {
        position: fixed;
        bottom: 51px;
        right: 22px;
        z-index: 10000;
        max-height: 120px;
        overflow-x: auto;
        left: 382px;

        .list-group-item {
            padding: 5px 13px;
            font-weight: 600;
        }
        .list-group-item:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
